<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--PatternLayout pattern="%highlight{%level{length=1}[%d{HH:mm:ss,SSS}] [%t]%logger{0}:} %msg%n"/-->
            <PatternLayout pattern="%highlight{%level{length=1}[%d{HH:mm:ss,SSS}]%logger{0}:} %msg%n"/>
        </Console>

        <!--File name="MyFile" fileName="${sys:logFilename}.log" append="false" immediateFlush="true">
            <PatternLayout pattern="%highlight{%level{length=1}[%d{HH:mm:ss,SSS}] [%t]%logger{0}:} %msg%n"/>
        </File-->

    </Appenders>

    <Loggers>
        <!-- UNCOMMENT TO SPECIFY LOG LEVEL OF PACKAGES
        <Logger level="info" name="protocols.apps"/>
        <Logger level="info" name="protocols.overlays"/>
        <Logger level="debug" name="protocols.dissemination"/>
        -->

        <Logger level="info" name="io.netty"/>
        <Logger level="info" name="network"/>
        <Logger level="info" name="channel"/>
        <Logger level="info" name="babel"/>


        <Root level="debug">
            <AppenderRef ref="Console" level="info"/>
            <!--AppenderRef ref="MyFile" level="debug"/-->
        </Root>
    </Loggers>

</Configuration>
